{% extends "base.njk" %}
{% from "macros/blogPagination.njk" import blogPagination %}

{% block content %}
    <ul class="article-list is--nolist">
    {%- for post in posts %}
        <li class="article-list__entry">
            <section class="article-card">
                <header class="article-card__header">
                    {% if post.cover and post.coverAlt %}
                        <a class="article-card__header-link" href="/{{ post.title | slug | url }}/">
                            {% if loop.index <= 3 %}
                                {% image post.cover, post.coverAlt | escapeAttribute, "article-card__cover", false %}
                            {% else %}
                                {% image post.cover, post.coverAlt | escapeAttribute, "article-card__cover", true %}
                            {% endif %}
                        </a>
                    {% endif %}
                    <h2 class="article-card__title is--fancyfont font-size-large">
                        <a href="/{{ post.title | slug | url }}/" class="article-card__link is--muted">{{ post.title }}</a>
                    </h2>
                </header>
                {% if post.excerpt %}
                    <div class="article-card__content">
                        {{ post.excerpt | renderHtml | safe }}
                    </div>
                    <a class="article-card__more button button-arrow" href="/{{ post.title | slug | url }}/">
                        <span class="is--visually-hidden">read the full article</span>
                        {%- svg "static/chevron-right-solid.svg" -%}
                        {%- svg "static/chevron-right-solid.svg" -%}
                        {%- svg "static/chevron-right-solid.svg" -%}
                    </a>
                {% else %}
                    <div class="article-card__content">
                        {{ post.content | renderHtml | safe }}
                    </div>
                {% endif %}
            </section>
        </li>
    {%- endfor -%}
    </ul>

    {{ blogPagination(pagination=pagination) }}
{% endblock %}