<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
    {% block additionalHead %}
        <meta name="foo" content="default" >
    {% endblock %}
</head>
<body data-component="body">
    {% include 'header.njk' %}
    <main class="container">
        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </main>
    {% include 'footer.njk' %}
</body>
</html>