<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
    {% block blockingScripts %}
        <script>
            const brightness = window.localStorage.getItem('theme-brightness');
            if (brightness >= 0 && brightness <= 100 && brightness !== null) {
                document.documentElement.style.setProperty("--theme-lit", `${brightness}%`);
            }

            const color = window.localStorage.getItem('theme-color');
            if (color) {
			    document.head.querySelector('[name="theme-color"]').content = color;
            }
        </script>
    {% endblock %}
    {% block additionalHead %}
    {% endblock %}
</head>
<body>
    {% include 'header.njk' %}
    <main class="is--container" id="content">
        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </main>
    {% include 'footer.njk' %}
    {% include 'scripts.njk' %}
</body>
</html>