{% extends "base.njk" %}
{% from '../macros/articleCard.njk' import articleCard %}

{% block content %}
    <h1 class="nomargin-v fancyfont">Blog</h1>
    <ul class="grid-list nolist">
    {%- for post in blog %}
        <li>
            <!-- todo: refactor to macro -->
            {{ articleCard(post) }}
        </li>
    {%- endfor -%}
    </ul>

    <nav class="pagination">
    {% if pagination.previousPageLink %}
        <a class="pagination__item" href="{{ pagination.previousPageHref }}">Previous</a>
    {% endif %}
    {% if pagination.nextPageLink %}
        <a class="pagination__item" href="{{ pagination.nextPageHref}}">Next</a>
    {% endif %}
</nav>
{% endblock %}