{% extends "base.njk" %}

{% block content %}
    <article>
        <header>
            <h1>{{ post.title }}</h1>
            {% if post.cover %}
                {% image post.cover, "" %}
            {% endif %}
        </header>
        {{ content | safe }}
    </article>
{% endblock %}