{% extends "base.njk" %}
{% from "macros/blogPagination.njk" import blogPagination %}

{% block content %}
    <ul class="article-list nolist">
    {%- for post in posts %}
        <li class="article-list__entry">
            <section class="article-card">
                <header class="article-card__header">
                    {% if post.cover and post.coverAlt %}
                        <a class="article-card__header-link" href="/{{ post.title | slug | url }}">
                            {% if loop.index <= 3 %}
                                {% image post.cover, post.coverAlt, "article-card__cover", false %}
                            {% else %}
                                {% image post.cover, post.coverAlt, "article-card__cover", true %}
                            {% endif %}
                        </a>
                    {% endif %}
                    <aside class="article-card__meta">
                        <time datetime="{{ post.date }}">{% date post.date %}</time>
                        <p class="article-card__language">{{ post.language }}</p>
                    </aside>
                    <h2 class="article-card__title fancyfont font-size-large">
                        <a href="/{{ post.title | slug | url }}" class="article-card__link muted">{{ post.title }}</a>
                    </h2>
                </header>
                {% if post.excerpt %}
                    <div class="article-card__content">
                        {% renderMd post.excerpt %}
                    </div>
                    <a class="article-card__more button button-arrow" href="/{{ post.title | slug | url }}">
                        <span class="visually-hidden">read more</span>
                        {%- svg "static/chevron-right-solid.svg" -%}
                        {%- svg "static/chevron-right-solid.svg" -%}
                        {%- svg "static/chevron-right-solid.svg" -%}
                    </a>
                {% endif %}
            </section>
        </li>
    {%- endfor -%}
    </ul>

    {{ blogPagination(pagination=pagination) }}
{% endblock %}