{% extends "base.njk" %}

{% block content %}
    <article>
        <header>
            {% if post.cover %}
                {% image post.cover, "" %}
            {% endif %}
            <h1 class="fancyfont">{{ post.title }}</h1>
        </header>
        {{ content | safe }}
    </article>
{% endblock %}