{% extends "base.njk" %}

{% block content %}
    <article>
        <header>
            {% if post.cover and post.coverAlt %}
                {% image post.cover, post.coverAlt %}
            {% endif %}
            <h1 class="fancyfont">{{ post.title }}</h1>
        </header>
        {% if content | toc %}
            <aside>
                {{ content | toc | safe }}
            </aside>
        {% endif %}
        {{ content | safe }}
    </article>
{% endblock %}