{% extends "base.njk" %}

{% block content %}
    <ul class="article-list nolist">
    {%- for post in posts %}
        {% set postIndex = loop.index %}
        <li class="article-list__entry">
            <article class="demo-card">
                <header class="demo-card__header">
                    <h2 class="demo-card__title fancyfont font-size-large">{{ post.title }}</h2>
                </header>
                <div class="demo-card__gallery">
                    {% for screenshot in post.screenshots %}
                        <a class="screenshot" href="{{ post.url }}">
                            {% if postIndex <= 3 %}
                                {% image screenshot, "screenshot of "+post.url, "screenshot__image", false %}
                            {% else %}
                                {% image screenshot, "screenshot of "+post.url, "screenshot__image", true %}
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
                <div class="demo-card__content">
                    <p>{{ post.content }}</p>
                </div>
                <a class="demo-card__more button button-arrow" href="{{ post.url }}">
                        <span class="visually-hidden">go to the project</span>
                        {%- svg "static/chevron-right-solid.svg" -%}
                        {%- svg "static/chevron-right-solid.svg" -%}
                        {%- svg "static/chevron-right-solid.svg" -%}
                    </a>
            </article>
        </li>
    {%- endfor -%}
    </ul>

    <nav class="pagination">
    {% if pagination.previousPageLink %}
        <a class="pagination__item" href="{{ pagination.previousPageHref }}">Previous</a>
    {% endif %}
    {% if pagination.nextPageLink %}
        <a class="pagination__item" href="{{ pagination.nextPageHref}}">Next</a>
    {% endif %}
    </nav>
{% endblock %}