<footer class="footer is--container">
    <nav class="footer__menu">
        <ul class="footer__list is--nolist">
            <li class="footer__entry footer__entry--copy"><span>© {% year %} by me, plz don't steal</span></li>
            {%- for entry in baseData.footerNavigation -%}
                <li class="footer__entry">
                    <a class="footer__link" href="{{ entry.url }}">{{ entry.label }} </a>
                </li>
            {%- endfor -%}
            <li class="footer__entry">
                <a class="footer__link" href="https://pagespeed.web.dev/report?url={{page.url | absoluteUrl(baseData.url) | encodeURIComponent }}&form_factor=mobile" target="_blank" rel="noopener">Gotta go fast!</a>
            </li>
            <li class="footer__search">
                {% include 'search.njk' %}
            </li>
        </ul>
    </nav>
    {% include 'themeSwitch.njk' %}
</footer>