<footer class="main-footer">
    <nav class="main-footer__inner container">
        <ul class="nolist">
            <li>
                <a href="/legal">Legal</a>
            </li>
        </ul>
    </nav>
</footer>