<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% if title.length %} {{ title }} &bull; {% endif %}
    {{ baseData.pageTitle }}
</title>
<meta name="description" content="{{ baseData.attributes.description }}">
<meta name="author" content="{{ baseData.attributes.author }}">
<link rel="preload" href="{{ '/style.css' | url }}" as="style">
<link rel="preload" href="{{ '/main.js' | url }}" as="script">
<link rel="stylesheet" href="{{ '/style.css' | url }}">
<link rel="icon" href="/assets/favicon.svg">
