<header class="main-header container">
    <a class="skiplink" href="#content">skip to content</a>
    <a href="/" class="main-header__title h2 fancyfont h-card p-author">{{ baseData.pageTitle }}</a>
    {% include 'mainNavigation.njk' %}
</header>