<nav class="main-navigation">
    <ul class="main-navigation__list nolist">
        {%- for entry in baseData.mainNavigation -%}
            <li class="main-navigation__entry">
                <a class="main-navigation__link" href="{{ entry.url }}">{{ entry.label }}</a>
            </li>
        {%- endfor -%}
    </ul>
</nav>