<nav class="main-navigation">
    <ul class="main-navigation__list is--nolist is--nomargin">
        {%- for entry in baseData.mainNavigation -%}
            <li class="main-navigation__entry">
                <a class="
                    main-navigation__link
                    {% if entry.active.includes(page.fileSlug) %}main-navigation__link--active{% endif %}
                    " href="{{ entry.url }}">{{ entry.label }}{% svg "static/squiggly-line.svg" %}</a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
