<div class="h-card p-author" hidden>
    <a rel="me" href="/">{{ baseData.pageTitle }}</a>
    <a class="u-url" href="acct:iamschulz.com@iamschulz.com"></a>
    <img class="u-photo" alt="iamschulz avatar" src="{{ '/assets/logo.svg' | url }}" loading="lazy">
    <p class="p-note">{{ baseData.meta.description }}</p>
    <a href="https://indieweb.social/@iamschulz" rel="me" class="u-url">my Mastodon</a>
</div>