:where(a) {
	color: var(--fg-color);
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: var(--border-width);

	&:hover {
		text-decoration-color: var(--pop-color);
	}
}

:where(.article a, .article-card a) {
	&[href^="http"]:not([href^="https://iamschulz.com"]):not(.button, .is--no-indicator)::after
	{
		content: "➦";
		display: inline-block;
		margin-left: 0.4ch;
	}
}
