.article-card {
	&__cover {
		max-width: 100%;
		height: auto;
		border: var(--border-width) solid var(--fg-color);
		box-shadow: 0 0 0 0 var(--pop-color);

		@media (prefers-reduced-motion: no-preference) {
			transition: box-shadow 0.2s ease-out;
		}

		&:hover {
			border-color: var(--accent-color);
			box-shadow: 0.5rem 0.5rem 0 0 var(--pop-color);
		}
	}

	&__title {
		@extend .article__title;
	}

	&__link {
		text-decoration: none;

		&:not(:hover) {
			color: var(--fg-color);
		}
	}

	&__meta {
		@extend .article__meta;
	}

	&__language {
		@extend .article__language;
	}

	&__content {
		@extend .article__content;
	}

	&__more {
		margin-top: var(--spacing-y);
	}
}
