.article-list {
	list-style: none;
	margin: 0;
	padding: 0;

	&__entry {
		& + & {
			padding-top: calc(5 * var(--spacing-y));
			margin-top: calc(5 * var(--spacing-y));
			border-top: var(--border-width) dashed var(--grey);
		}
	}

	&__cover {
		max-width: 100%;
	}
}

@media screen and (min-width: $md-width) {
	.article-list__entry:nth-of-type(odd) {
		padding-right: 20%;
	}

	.article-list__entry:nth-of-type(even) {
		padding-left: 20%;
	}
}
