pre {
	font-family: var(--mono-font);
	position: relative;
	padding-top: 2rem;
	background: var(--grey-fade);
	border-radius: 0.5rem;

	&::before {
		content: "";
		width: 3rem;
		height: 3rem;
		position: absolute;
		top: 0.3rem;
		left: 0.3rem;
		background: radial-gradient(ellipse at center, var(--highlight-red, var(--grey)) 0.3rem, transparent 0.3rem) -1rem -1rem,
			radial-gradient(ellipse at center, var(--highlight-yellow, var(--grey)) 0.3rem, transparent 0.3rem) 0rem -1rem,
			radial-gradient(ellipse at center, var(--highlight-green, var(--grey)) 0.3rem, transparent 0.3rem) 1rem -1rem;
	}

	&:hover {
		--highlight-red: #f55c54;
		--highlight-yellow: #f7bb2d;
		--highlight-green: #26c841;
	}

	code {
		width: 100%;
		overflow: auto;
		padding: 0 0.3rem var(--spacing-y);
	}
}

:not(pre) > code,
kbd {
	font-family: var(--mono-font);
	font-size: 0.8rem;
	display: inline-block;
	margin: 0 1px;
	background: var(--grey-fade);
	border-radius: 5px;
	box-shadow: 0 0 0 1px var(--grey-fade);
}

code[class*="language-"],
pre[class*="language-"] {
	font-family: var(--mono-font);
}
