pre {
    position: relative;
    --highlight-red: rgba(80, 80, 80, 1);
    --highlight-yellow: rgba(80, 80, 80, 1);
    --highlight-green: rgba(80, 80, 80, 1);
    border-radius: 0.5rem;
    padding-top: 2rem;

    &::before {
        content: "";
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 0.3rem;
        left: 0.3rem;
        background: radial-gradient(ellipse at center, var(--highlight-red) 0.3rem, transparent 0.3rem) -1rem -1rem,radial-gradient(ellipse at center, var(--highlight-yellow) 0.3rem, transparent 0.3rem) 0rem -1rem,radial-gradient(ellipse at center, var(--highlight-green) 0.3rem, transparent 0.3rem) 1rem -1rem;
    }

    &:hover {
        --highlight-red: #f55c54;
        --highlight-yellow: #f7bb2d;
        --highlight-green: #26c841;
    }
}