.comments {
	--image-size: 4rem;
	display: grid;
	gap: 4rem;
	margin-top: 4rem;

	&__header {
		position: relative;
		display: inline-flex;
		text-decoration: none;
		min-height: var(--image-size);
		flex-wrap: wrap;
		align-items: center;
		padding-left: calc(var(--image-size) + var(--spacing-x));
	}

	&__user {
		flex: 1 0 100%;
		pointer-events: none;
	}

	&__avatar {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		border-radius: 50%;
		min-width: var(--image-size);
		max-width: var(--image-size);
		min-height: var(--image-size);
		max-height: var(--image-size);
		margin-right: var(--spacing-x);
		object-fit: cover;
		background-color: var(--grey);
		pointer-events: all;

		a[href]:hover > & {
			box-shadow: 0 0 0 2px var(--accent-color);
		}
	}

	&__name {
		display: inline-block;
		font-size: 1.3rem;
		font-weight: 700;
		pointer-events: all;

		a[href] & {
			text-decoration: underline;
			text-decoration-thickness: var(--border-width);
			text-decoration-color: var(--accent-color);
		}

		a[href]:hover & {
			text-decoration-color: var(--accent-color);
			text-decoration-color: var(--pop-color);
		}
	}

	&__source,
	&__date {
		color: var(--grey);
		margin-right: 1ch;
	}

	&__content,
	&__reply-button {
		margin-left: calc(var(--image-size) + var(--spacing-x));
		word-break: break-word;
	}

	&__reply-button {
		margin-top: var(--spacing-y);
	}
}
