.demo-card {
	&__cover {
		max-width: 100%;
		border: var(--border-width) solid var(--fg-color);

		&:hover {
			border-color: var(--accent-color);
		}
	}

	&__title {
		@extend .article__title;
	}

	&__meta {
		@extend .article__meta;
	}

	&__gallery {
		perspective: 800px;
		text-align: center;
	}

	&__content {
		@extend .article__content;
	}

	&__more {
		margin-top: var(--spacing-y);
	}
}

@media screen and (min-width: $sm-width) {
	.demo-card {
		&__gallery {
			text-align: left;
		}
	}
}
