.footer {
	display: block;
	max-width: var(--content-width);
	margin: calc(var(--spacing-y) * 10) var(--content-margin) 0;
	color: var(--grey);
	font-size: var(--small-font-size);
	margin-bottom: var(--spacing-y);

	&__menu {
		display: inline-block;
	}

	&__list {
		list-style: none;
		margin-right: var(--spacing-x);
		padding-inline-start: 0;
		max-width: 20rem;
	}

	&__entry {
		display: inline-block;
		margin-right: 1ch;

		&--copy {
			display: block;
		}
	}

	&__link {
		text-decoration-thickness: 1px;
	}

	&__search {
		margin-top: var(--spacing-y);
	}
}

@media (min-width: $sm-width) {
	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
