:root {
	--spacing-x: 1rem;
	--spacing-y: 1rem;
	--content-width: 64rem;
	--content-narrow-width: 70ch;
	--border-width: 3px;
	--aside-width: 20rem;
}

* {
	box-sizing: border-box;
}

:where(main [id]) {
	scroll-margin-top: 2.5rem;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
