:root {
	--spacing-x: 1rem;
	--spacing-y: 1rem;
	--content-width: 64rem;
	--content-margin: 0;
	--content-narrow-width: 70ch;
	--border-width: 3px;
	--z-overlay: 100;
	--z-header: 90;
	--z-menu: 110;
	--z-below: -1;
	--max-width: #{$max-width};
	--content-margin: auto;
	--aside-width: 22.5rem; // 360px
}

* {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}

	body {
		transition: color 0.4s ease-out, background-color 0.4s ease-out;
	}
}
