.likes {
	&__button {
		font-size: 1.5rem;
		background: transparent;
		padding: 0;
		border: none;
		color: inherit;

		&[hidden] {
			display: none;
		}

		&::before {
			display: none;
		}

		> * {
			vertical-align: baseline;
		}

		&:not([disabled]) {
			cursor: pointer;

			&:hover {
				.reactions__icon {
					color: var(--accent-color);
				}
			}
		}

		&[disabled] {
			.reactions__icon {
				color: var(--accent-color);
			}
		}
	}

	&__icon {
		position: relative;
		color: transparent;
		--shadow-width: 0.25rem;
		--shadow-color: var(--fg-color);
		text-shadow: 0 0 var(--shadow-color),
			0 var(--shadow-width) var(--base-color),
			var(--shadow-width) 0 var(--base-color),
			0 calc(var(--shadow-width) * -1) var(--base-color),
			calc(var(--shadow-width) * -1) 0 var(--base-color);
		z-index: 1;

		.is--animated > & {
			--shadow-color: var(--pop-color);
			transition: text-shadow ease-out 0.2s;
		}

		:is([disabled]) > &,
		:not(.is--animated):hover > & {
			--shadow-color: var(--accent-color);
		}

		.is--animated > &::before {
			content: "";
			position: absolute;
			top: -60%;
			left: -50%;
			right: -50%;
			bottom: -50%;
			z-index: -1;
			background: repeating-conic-gradient(
				from 0deg at 50% 50%,
				var(--accent-color) 0%,
				var(--accent-color) 3%,
				rgba(0, 0, 0, 0) 3%,
				rgba(0, 0, 0, 0) 10%
			);
			animation: likes-bling 5s linear 1;
		}
	}
}
