.main-header {
	position: sticky;
	top: -2.5rem;
	margin-bottom: 5rem;

	&__title {
		color: var(--fg-color);
		text-decoration: none;
		font-size: 1.6rem;

		&:hover {
			color: var(--accent-color);
		}
	}
}
