.main-navigation {
	&__list {
		margin: 0;
		display: flex;
		gap: 1rem;
		padding: 0.5rem 0 0 0.5rem;
		background: var(--base-color);
		box-shadow: 0 0 1rem 1rem var(--base-color);
	}

	&__link {
		position: relative;
		color: var(--fg-color);
		text-decoration: none;

		&--active,
		&:hover {
			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -0.5rem;
				width: 1ch;
				height: 0.2rem;
				background-color: var(--accent-color);
			}
		}
	}
}
