.main-navigation {
	&__list {
		margin: 0;
		display: flex;
		gap: 1rem;
		padding: 0.5rem 0;
	}

	&__link {
		position: relative;
		color: inherit;
		text-decoration: none;

		svg {
			position: absolute;
			left: -0.2ch;
			bottom: -0.2rem;
			width: 6ch;
			pointer-events: none;
			z-index: -1;
			color: var(--accent-color);
			clip-path: inset(0px 100% -7rem 0);
			transition: clip-path 0.2s ease-out;
		}

		&--active,
		&:hover {
			color: inherit;

			svg {
				clip-path: inset(0px 0% -7rem 0);
			}
		}
	}
}
