.pagination {
	display: flex;
	gap: calc(var(--spacing-x) / 2);
	justify-content: flex-end;
	padding-inline-start: 0;
	border-top: var(--border-width) dashed var(--grey);
	margin-top: calc(5 * var(--spacing-y));
	padding-top: var(--spacing-y);

	&__item {
		flex: 0 0 3ch;
		height: 3ch;
		display: flex;
		place-items: center;
	}
}
