.reactions {
	margin-top: calc(var(--spacing-y) * 3);
	padding-top: calc(var(--spacing-y) * 3);
	border-top: var(--grey) dashed var(--border-width);

	&__loader {
		justify-content: center;
		font-size: 2rem;

		&:not([hidden]) {
			display: flex;
		}
	}
}
