.search {
	display: flex;
	&__label {
		display: inline-block;
		margin-right: 1ch;
	}

	&__input {
		height: 2rem;
		margin: 0;
		border: 1px solid var(--grey);
		color: currentColor;
		background: transparent;
	}

	&__button {
		padding: 0.5ch;
		width: 2rem;
		height: 2rem;
		display: inline-grid;
		place-items: center;
		background-color: var(--grey);

		&:hover {
			background-color: transparent;
		}

		svg {
			height: 100%;
			width: 100%;
		}
	}
}
