@import "./global/colors.scss";
@import "./global/typography.scss";
@import "./global/high-contrast.scss";

* {
	box-sizing: border-box;
}

body {
	width: MIN(52rem, 100%);
	margin: auto;
	padding: 1rem;

	* {
		max-width: 100%;
	}
}

.main-header {
	display: grid;
	grid-template-rows: 4rem 1rem;
	grid-template-columns: 4rem auto;
	gap: 1rem;
	place-items: center left;
	position: sticky;
	top: -4rem;
	padding-bottom: 1rem;
	background-color: var(--base-color);

	nav ul {
		display: flex;
		gap: 1rem;
	}
}

h2,
:is(.h2) {
	font-size: 2rem;
}

footer {
	margin-top: 10rem;
	border-top: 1px solid currentColor;
}

a {
	color: var(--accent-color);
}

:is(.nolist) {
	list-style: none;
	padding: 0;
}
