:where(table) {
	border-collapse: collapse;
	table-layout: fixed;
	min-width: 100%;
	overflow: auto;
	display: block;
}

:where(td, th) {
	padding: 0.5rem 1ch;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

:where(th) {
	border-bottom: 1px solid var(--grey);
}

:where(td) {
	width: auto;
	min-width: 10ch;
}

:where(:is(td, th):not(:last-of-type)) {
	border-right: 1px solid var(--grey);
}

:where(tbody) {
	:where(tr:hover) {
		background-color: var(--grey-fade);
	}
}
