.theme-switch {
	display: flex;
	align-items: center;
	font-size: var(--spacing-x);

	&::before {
		content: "🌙";
	}

	&::after {
		content: "☀️";
	}

	&::before,
	&::after {
		height: 1.3em;
		line-height: 1.1;
		color: transparent;
		text-shadow: 0 0 var(--fg-color);
	}
}
