.theme-switch {
	display: flex;
	align-items: center;

	&__icon {
		height: 1.3em;
		line-height: 1.1;
		color: transparent;
		text-shadow: 0 0 var(--grey);
	}

	&__range {
		max-width: 6rem;
	}

	&__reset {
		margin-top: -0.6ex;
		background: transparent;
		color: var(--grey);

		&::before {
			display: none;
		}
	}
}
