.toc {
	ol {
		list-style: none;
		padding-inline-start: 0;
	}

	li {
		padding: 0.4rem 0;
		max-width: calc(#{$aside-width} - 4ch);
	}

	a {
		color: var(--grey);
		text-decoration-color: currentColor;
		text-decoration-thickness: 1px;

		&:hover,
		&[data-highlight]:hover {
			color: var(--grey);
			text-decoration-color: var(--accent-color);
		}
	}
}

@media (min-width: $lg-width) {
	.toc {
		position: sticky;
		top: 3rem; // account for header height
		padding-left: var(--spacing-x);
		max-height: 100vh;
		overflow-y: auto;

		a {
			display: inline-block;
			position: relative;
			transition: ease-out 0.2s transform;

			&::before {
				content: "";
				position: absolute;
				top: calc(50% - 0.25ch);
				left: -1.5ch;
				width: 0;
				height: 0;
				border-left: 0.5ch solid var(--accent-color);
				border-right: 0.5ch solid transparent;
				border-top: 0.5ch solid transparent;
				border-bottom: 0.5ch solid var(--accent-color);
				transform: rotate(45deg);
				transition: ease-out 0.2s opacity;
				opacity: 0;
			}
		}

		a[data-highlight="true"] {
			transform: translateX(1.2rem);

			&::before {
				opacity: 1;
			}
		}
	}
}
