:root {
	color-scheme: light dark;
}

:root {
	--theme-hue: 190deg;
	--theme-lit: 95%;
	--theme-sat: clamp(0%, calc(45% - var(--theme-lit)), 30%);
	--theme-hue-accent: 330deg;

	--base-color: hsl(var(--theme-hue), var(--theme-sat), var(--theme-lit));

	--fg-color: hsl(
		var(--theme-hue),
		var(--theme-sat),
		clamp(20%, calc(100% - (var(--theme-lit) - 40%) * 1000), 80%)
	);

	--accent-color: hsl(var(--theme-hue-accent), 100%, 45%);
	--pop-color: hsl(var(--theme-hue), 100%, 45%);

	--grey: hsl(
		var(--theme-hue),
		10%,
		clamp(55%, calc(100% - (var(--theme-lit) - 62%) * 1000), 65%)
	);

	--grey-fade: hsla(
		var(--theme-hue),
		10%,
		clamp(55%, calc(100% - (var(--theme-lit) - 62%) * 1000), 65%),
		0.2
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-lit: 8%;
	}
}

body {
	background-color: var(--base-color);
	color: var(--fg-color);
}

:where(a) {
	color: var(--fg-color);
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: var(--border-width);

	&:hover {
		text-decoration-color: var(--pop-color);
	}
}
