:root {
	color-scheme: light dark;
}

body {
	--contrast: 95%;
	--fg-color-contrast: 90%;
	--hue: 190;
	--accent-hue: 330;
	--base-saturation: 10%;
	--fg-color-saturation: 30%;

	--base-color: hsl(var(--hue), var(--base-saturation), var(--contrast));
	--fg-color: hsl(
		var(--hue),
		var(--fg-color-saturation),
		calc(100% - var(--fg-color-contrast))
	);
	--accent-color: hsl(
		var(--accent-hue),
		100%,
		calc(50% + (50% - var(--fg-color-contrast)) * -0.2)
	);
	--grey: hsl(
		var(--hue),
		10%,
		calc(50% + (50% - var(--fg-color-contrast)) * 0.2)
	);
}

body[data-state-color-scheme="dark"] {
	--contrast: 8%;
	--fg-color-contrast: 25%;
	--base-saturation: 30%;
	--fg-color-saturation: 7%;
}

@media (prefers-color-scheme: dark) {
	body:not([data-state-color-scheme="light"]) {
		--contrast: 8%;
		--fg-color-contrast: 25%;
		--base-saturation: 30%;
		--fg-color-saturation: 7%;
	}
}

body {
	background-color: var(--base-color);
	color: var(--fg-color);
}
