code[class*="language-"],
pre[class*="language-"] {
	display: block;
	color: var(--fg-color);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

:root {
	--code-lit: clamp(45%, calc(100% - (var(--theme-lit) - 40%) * 1000), 75%);
	--code-color-1: var(--accent-color);
	--code-color-2: hsl(190deg, 80%, var(--code-lit));
	--code-color-3: hsl(190deg, 100%, calc(var(--code-lit) - 10%));
	--code-color-4: hsl(100deg, 70%, var(--code-lit));
	--code-color-5: hsl(30deg, 100%, var(--code-lit));
	--code-color-6: hsl(20deg, 80%, calc(var(--code-lit) - 10%));
	--code-color-7: hsl(190deg, 85%, calc(var(--code-lit) - 5%));
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--grey);
}

.token.punctuation,
.language-markdown .token.table-header,
.language-json .token.operator {
	color: var(--color-fg);
}

.token.attr-value,
.token.inserted,
.token.color,
.token.selector .token.value,
.token.string,
.token.string .token.url-link,
.token.deleted,
.token.important,
.language-markdown .token.url .token.content {
	color: var(--code-color-1);
}

.token.delimiter.important,
.token.selector .parent,
.token.tag,
.token.tag .token.punctuation,
.language-markdown .token.code,
.language-scss .token.variable {
	color: var(--code-color-2);
}

.token.attr-name,
.token.boolean,
.token.boolean.important,
.token.number,
.token.constant,
.token.selector .token.attribute,
.language-markdown .token.url-link {
	color: var(--code-color-3);
}

.token.class-name,
.token.key,
.token.parameter,
.token.property,
.token.property-access,
.token.variable,
.token.keyword-this,
.token.this,
.language-markdown .token.title,
.language-markdown .token.title .token.punctuation,
.language-markdown .token.hr.punctuation {
	color: var(--code-color-4);
}

.token.builtin,
.token.keyword-array,
.token.package,
.token.regex,
.language-markdown .token.list.punctuation,
.language-markdown .token.blockquote.punctuation {
	color: var(--code-color-5);
}

.token.function,
.token.selector .token.class,
.token.selector .token.id {
	color: var(--code-color-6);
}

.token.atrule .token.rule,
.token.combinator,
.token.keyword,
.token.operator,
.token.pseudo-class,
.token.pseudo-element,
.token.selector,
.token.unit {
	color: var(--code-color-7);
}

.token.important,
.token.keyword-this,
.token.this,
.token.bold {
	font-weight: bold;
}

.token.delimiter.important {
	font-weight: inherit;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
