@font-face {
	font-family: BlankRiver;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	size-adjust: 125%;
	src: local("Blank River"), url(/assets/BlankRiver.woff2) format("woff2");
}

@font-face {
	font-family: "Adjusted Arial Fallback";
	src: local(Arial);
	size-adjust: 92%;
	ascent-override: 92%;
	descent-override: 18%;
	line-gap-override: 4%;
}

:root {
	--base-font-size: min(max(1rem, 1.5vw), 1.2rem);
	--small-font-size: 1rem;
	--large-font-size: min(max(2rem, 4vw), 2rem);
	--x-large-font-size: min(max(3rem, 6vw), 4rem);
	--base-line-height: 1.6;
	--base-letter-spacing: 0.01875em;
	--base-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		Arial, sans-serif;
	--headline-font: BlankRiver, "Adjusted Arial Fallback", Arial,
		"Helvetica Neue", Helvetica, sans-serif;
	--mono-font: "Fira Code", FiraCode, "JetBrains Mono", Inconsolata,
		"Roboto Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

:where(.is--fancyfont) {
	font-family: var(--headline-font);
	line-height: 1;
}

:where(.font-size-x-large) {
	font-size: var(--x-large-font-size);
}

:where(.font-size-large) {
	font-size: var(--large-font-size);
}

body {
	font-family: var(--base-font);
	letter-spacing: var(--base-letter-spacing);
	line-height: var(--base-line-height);
	font-size: var(--base-font-size);
}
