{% macro likes() %}
    <button class="likes__button" data-component="likes" hidden>
        <span class="likes__icon">❤</span> <span class="likes__counter" data-likes-el="counter">0</span>
    </button>
{% endmacro %}