{% macro reactions(devId) %}
<aside class="reactions" data-component="reactions" {% if devId %}data-dev-id="{{ devId }}"{% endif %}>
    <span class="reactions__loader loader" data-reactions-el="loader">
        <span class="is--visually-hidden">Loading Reactions</span>
    </span>
        
    <button class="likes__button" data-component="likes" hidden>
        <span class="likes__icon">❤</span> <span class="likes__counter" data-likes-el="counter">0</span>
    </button>

    <ul class="comments is--nolist" data-component="comments" hidden>
        <template data-comments-el="template">
            <li class="comments__item" role="comment" data-wm-id="{% raw %}{{ id }}{% endraw %}">
                <div class="comments__header">
                    <a class="comments__user" href="{% raw %}{{ userLink }}{% endraw %}">
                        <img class="comments__avatar" src="{% raw %}{{ avatar }}{% endraw %}" alt="" data-src="" loading="lazy">
                        <span class="comments__name">{% raw %}{{ name }}{% endraw %}</span>
                    </a>
                    {% raw %}<time datetime="{{ datetime }}" class="comments__date">{{ date }}</time>{% endraw %}
                    {% raw %}<a class="comments__source" href="{{ source }}">via {{ sourceName }}</a>{% endraw %}
                </div>
                <div class="comments__content">
                    {% raw %}{{ content }}{% endraw %}
                    <a class="u-mention" href="{% raw %}{{ currentPage }}{% endraw %}" hidden></a>
                </div>
                <a class="comments__reply-button button more-link-is--hidden" href="{% raw %}{{ moreLink }}{% endraw %}">Thread {% svg "static/chevron-right-solid.svg" %}</a>
            </li>
        </template>
    </ul>
</aside>
{% endmacro %}