{% macro share(baseData, page, post) %}
    <aside 
        class="share is--nolist"
    >
        <h2 class="share__title">Share this article:</h2>
        <ul class="share__list is--nomargin">
            <li class="share__entry">
                {% set devUrl = "---\ntitle:"+post.title+"\n published: false\n tags: \n---\n\n\n\n["+post.title+"]("+page.url | absoluteUrl(baseData.url)+") (via @iamschulz)\n" %}
                <a 
                    class="share__link" 
                    href="https://dev.to/new?prefill={{ devUrl | encodeURIComponent }}"
                    aria-label="DEV.to"
                >
                    {% svg "static/dev-brands.svg" %}
                </a>
            </li>
            <li class="share__entry">
                {% set mailBody = post.title + " (" +page.url | absoluteUrl(baseData.url) + ")" %}
                <a 
                    class="share__link" 
                    href="mailto:?subject={{ post.title | encodeURIComponent }}&body={{ mailBody | encodeURIComponent }}"
                    aria-label="E-Mail"
                >
                    {% svg "static/envelope-open-solid.svg" %}
                </a>
            </li>
            <li class="share__entry">
                <a 
                    class="share__link" 
                    href="http://www.reddit.com/submit?url={{ page.url | absoluteUrl(baseData.url) | encodeURIComponent }}&title={{ post.title | encodeURIComponent }}"
                    aria-label="Reddit"
                >
                    {% svg "static/reddit-brands.svg" %}
                </a>
            </li>
            <li class="share__entry">
                <a 
                    class="share__link" 
                    href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absoluteUrl(baseData.url) | encodeURIComponent }}"
                    aria-label="LinkedIn"
                >
                    {% svg "static/linkedin-brands.svg" %}
                </a>
            </li>
            <li 
                hidden
                class="share__entry"
                data-component="share" 
                data-share-links-title="{{ post.title }}"
                data-share-links-text="{{ post.excerptPlain }}"
                data-share-links-url="{{ page.url | absoluteUrl(baseData.url) }}"
            >
                <a 
                    data-share-el="shareApiLink"
                    class="share__link" 
                    href="#"
                    aria-label="More share options"
                >
                    {% svg "static/share-alt-solid.svg" %}
                </a>
            </li>
        </ul>
    </aside>
{% endmacro %}