{% macro articleCard(post) %}
    <section class="card-s elevation-1">
        <header>
            {% if post.cover and post.coverAlt %}
                {% image post.cover, post.coverAlt %}
            {% endif %}
            <h2 class="inherit">
                <a href="/{{ post.title | slug | url }}">{{ post.title }}</a>
            </h2>
        </header>
        <time datetime="2022-06-14">{{ post.publishedAt }}</time>
    </section>
{% endmacro %}