{% macro articleCard(post) %}
    <section class="article-card">
        <header class="article-card__header">
            {% if post.cover and post.coverAlt %}
                <div class="article-card__cover">
                    {% image post.cover, post.coverAlt %}
                </div>
            {% endif %}
            <h2 class="article-card__title">
                <a class="fancyfont" href="/{{ post.title | slug | url }}">{{ post.title }}</a>
            </h2>
        </header>
        <time datetime="2022-06-14">{{ post.publishedAt }}</time>
    </section>
{% endmacro %}