.container {
	width: MIN(var(--content-width), 100%);
	max-width: 64rem;
	margin-left: var(--content-margin);
	margin-right: var(--content-margin);
	padding-left: var(--spacing-x);
	padding-right: var(--spacing-x);
}
