:where(.is--container) {
	width: MIN(var(--content-width), 100%);
	max-width: 64rem;
	margin: auto;
	padding-left: var(--spacing-x);
	padding-right: var(--spacing-x);
}

@media (min-width: #{$lg-width}) and (max-width: #{$lg-width + $aside-width}) {
	:where(.is--container) {
		position: relative;
		transform: translateX(calc(var(--aside-width) * -0.25));
	}
}
